<div class="container grid grid-cols-4 mx-auto">

  <section class="col-span-3 p-5">
    <img class="my-auto" src="<%= Routes.static_path(@conn, "/images/placeholder.jpg") %>" height="600">
    <p class="italic">Last update: 2020-10-12 12:00am</p>
  </section>

  <section class="col-span-1 p-5">
    <div class="flex flex-col">
      <button type="button" class="bg-red-500 text-gray-200 rounded hover:bg-red-400 px-4 py-2 focus:outline-none">Toggle power</button>
    </div>
  </section>

</div>
